src/main/resources/META-INF/services/template/engines/httl-engine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:springext="http://www.alibaba.com/schema/springext/base" elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
        schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

    <xsd:import namespace="http://www.alibaba.com/schema/springext/base"
        schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

    <xsd:element name="httl-engine" type="HttlTemplateEngineType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[HTTL Template Engine]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="HttlTemplateEngineType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:all>
                    <xsd:element name="advanced-properties" type="HttlPropertiesType"
                        minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[httl.properties]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:all>
                <xsd:attribute name="path" type="xsd:string" default="/templates" />
                <xsd:attribute name="templateEncoding" type="xsd:string" default="UTF-8" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="HttlPropertiesType">
        <xsd:sequence>
            <xsd:element name="property" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required" />
                    <xsd:attribute name="value" type="xsd:string" use="required" />
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
